<div class="container">
    <div class="row">
        <div class="col-12 col-md-6">
            <h2 class="text-primary">
                Book List
            </h2>
        </div>
        <div class="col-12 col-md-6 text-md-end">
            <a class="btn btn-primary" asp-controller="Product" asp-action="Upsert">
                <i class="bi bi-plus-circle"></i> Create new Book
            </a>
        </div>
    </div>
</div>
<div class="mt-5 container-fluid">
    <div>
        <table id="tblData" class="table table-bordered table-hover scroll-table w-100">
            <thead>
                <tr>
                    <th class="text-nowrap">
                        Book ID
                    </th>
                    <th class="text-nowrap">
                        Book Image
                    </th>
                    <th class="text-nowrap">
                        Book Title
                    </th>
                    <th class="text-nowrap">
                        Book Author
                    </th>
                    <th class="text-nowrap">
                        Book Description
                    </th>
                    <th class="text-nowrap">
                        Created Date
                    </th>
                  
                    <th class="text-nowrap">
                        Categories
                    </th>

                    <th class="text-nowrap">
                        Edit
                    </th>
                    <th class="text-nowrap">
                        Delete
                    </th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
</div>


@section Scripts{
    <script src="~/js/product.js" asp-append-version="true"></script>
    <script src="~/js//DeleteByAPI.js" asp-append-version="true"></script>
}