
<div class="container">
    <div class="row">
        <div class="col-12 col-md-6">
            <h2 class="text-primary">
                Library List
            </h2>
        </div>
        <div class="col-12 col-md-6 text-end">
            <a class="btn btn-primary" asp-controller="Company" asp-action="Upsert">
                <i class="bi bi-plus-circle"></i> Create new Library
            </a>
        </div>
    </div>
</div>
<div class="mt-5 container-fluid">
    <div class="row">
        <table id="tblData" class="table table-striped scroll-table w-100">
            <thead>
                <tr>
                    <th>
                        Id
                    </th>
                    <th class="text-nowrap">
                        Name
                    </th>

                    <th class="text-nowrap">
                        Address
                    </th>
                    <th class="text-nowrap">
                        Phone Number
                    </th>
                    <th class="text-nowrap">
                        Email
                    </th>
                    <th class="text-nowrap">
                        Details
                    </th>
                    <th class="text-nowrap">
                        Edit
                    </th>
                    <th class="text-nowrap">
                        Delete
                    </th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>


@section Scripts{
    <script src="~/js//company.js"></script>
    <script src="~/js//DeleteByAPI.js"></script>
}