<div class="container">
    <div class="row">
        <div class="col-12 col-md-6">
            <h2 class="text-primary">
                Order List
            </h2>
        </div>
        <div class="col-12 col-md-6 text-end">
            @* <a class="btn btn-primary" asp-controller="Order" asp-action="Upsert">
            <i class="bi bi-plus-circle"></i> Create new category
            </a>*@
        </div>
    </div>
</div>
<div class="mt-5 container-fluid">
    <div>
        <table id="tblData" class="table table-striped scroll-table w-100">
            <thead>
                <tr>
                    <th>
                        Id
                    </th>
                    <th class="text-nowrap">
                        Name
                    </th>
                    <th class="text-nowrap">
                        Email
                    </th>
                    <th class="text-nowrap">
                        Phone Number
                    </th>
                    <th class="text-nowrap">
                        Order Status
                    </th>
                    <th class="text-nowrap">
                        Order Time
                    </th>
                    <th class="text-nowrap">
                        Return Time
                    </th>
                    <th class="text-nowrap">
                        Is Return
                    </th>
                    <th class="text-nowrap">
                        Details
                    </th>
                    <th class="text-nowrap">
                        Approve
                    </th>
                    <th class="text-nowrap">
                        Rejected
                    </th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>


@section Scripts{
    <script src="~/js/order.js"></script>
    <script src="~/js/orderStatusUpdate.js"></script>
}