@model List<OrderDetail>

<div class="container">
    <div class="row">
        <div class="col-12 col-md-6">
            <h2>Borrow book history</h2>
        </div>
        <div class="col-12 col-md-6 text-end">
            @*<a class="btn btn-primary" asp-controller="Company" asp-action="Upsert">
            <i class="bi bi-plus-circle"></i> Create new company
            </a>*@
        </div>
    </div>
</div>
<div class="mt-5 container-fluid">
    <div class="row">
        <table id="tblData" class="table table-striped scroll-table w-100">
            <thead>
                <tr>
                    <th>
                        Id
                    </th>
                    <th class="text-nowrap">
                        Product Name
                    </th>
                    <th class="text-nowrap">
                        Quantity
                    </th>
                    
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.OrderDetailId
                        </td>
                        <td>
                            @item.Product.Title
                        </td>
                        <td>
                            @item.Count
                        </td>
                       
                    </tr>

                }
            </tbody>
        </table>
    </div>
</div>
